body{

background:black;

color:white;

font-family:Arial;

text-align:center;

}


h1{

color:#D4AF37;

font-size:44px;

}


h2{

color:#00A86B;

}


h3{

color:#D4AF37;

}


button{

background:#D4AF37;

color:black;

padding:14px;

margin:6px;

border:none;

font-size:16px;

cursor:pointer;

width:220px;

}


button:hover{

background:#00A86B;

color:white;

}


hr{

border:1px solid #D4AF37;

width:60%;

}


#cartBox{

border:3px solid #D4AF37;

width:300px;

margin:auto;

padding:20px;

background:#111;

font-size:22px;

}
img{

border-radius:10px;

margin:10px;

border:3px solid #D4AF37;

}
