body{

margin:0;
font-family:Arial;

background:black;

color:white;

}



header{

text-align:center;

padding:40px;

background:#000000;

border-bottom:4px solid gold;

}



.logo{

width:300px;

margin-bottom:20px;

}



h1{

color:gold;

font-size:40px;

margin:0;

}



.tagline{

color:#0f5132;

font-size:20px;

}



section{

padding:40px;

text-align:center;

}



h2{

color:gold;

margin-bottom:20px;

}



.service-area{

background:#021a12;

}



.packages{

background:black;

}



.package{

margin-bottom:60px;

}



.package img{

width:600px;

max-width:90%;

border:4px solid gold;

border-radius:12px;

}



.package h3{

color:gold;

font-size:26px;

}



.payments{

background:#021a12;

font-size:20px;

}



.booking{

background:black;

font-size:20px;

}



.email{

color:gold;

font-size:24px;

font-weight:bold;

}



footer{

text-align:center;

padding:20px;

background:black;

border-top:3px solid gold;

}
